## Environment variables for the application
PORT=3000
JWT_SECRET=d0b9f930a765f06394032084318d534db09cbe28adccd1938d00043b309e5fc5
#Database
DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=app_qlhp
DB_PASSWORD=app_qlhp_pass
DB_NAME=qlhocphan

# Swagger
SWAGGER_ENABLED=true         # set false để tắt UI trong prod